<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916972976539-s2sgqrfsaajnhmolipljd0n24s6brasf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916972976539-s2sgqrfsaajnhmolipljd0n24s6brasf</string>
	<key>API_KEY</key>
	<string>AIzaSyAkqHS0hhpFg7iFzlvmJfbFyMo8o-vbcPs</string>
	<key>GCM_SENDER_ID</key>
	<string>916972976539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StephaneTrouve.EK20-V1</string>
	<key>PROJECT_ID</key>
	<string>ek-20-26298</string>
	<key>STORAGE_BUCKET</key>
	<string>ek-20-26298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:916972976539:ios:b59c686e03998c1954893e</string>
	<key>DATABASE_URL</key>
	<string>https://ek-20-26298.firebaseio.com</string>
</dict>
</plist>
